[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = GB
countryName_default = GB
stateOrProvinceName = London
stateOrProvinceName_default = London
localityName = 
localityName_default = 
organizationName = Glasswall Solutions Ltd.
organizationName_default = Glasswall Solutions Ltd.
organizationalUnitName = Glasswall Solutions Ltd.
organizationalUnitName_default = Glasswall Solutions Ltd.
commonName = glasswall-icap.com
commonName_default = glasswall-icap.com
commonName_max = 64

[CA]
copy_extensions = copy

[ v3_req ]
# Extensions to add to a certificate request
keyUsage = critical, digitalSignature, keyAgreement, keyCertSign, cRLSign, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1  = saaspoc1.sharepoint.com
DNS.2  = saaspoc1-my.sharepoint.com
DNS.3  = ukc-word-edit.officeapps.live.com
DNS.4  = ukc-excel.officeapps.live.com
DNS.5  = ukc-powerpoint.officeapps.live.com
